body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
    font-size: 17.5px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

nav{
    display: block;
}

.page-header{
    background-image:url(/Users/agungdm/Portfolio/Bootstrap/bootstrap-5.1.3-dist/assets/david-van-dijk-3LTht2nxd34-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #090909;
    background-attachment: fixed;
    color: fff;
    min-height: 700px;
    width: 100%;
}

/* div.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
} */

.top-wrapper{
    color: white;
    padding: 30px 0px 0px;
}

.main-wrapper{
    padding: 140px 0px 0px;
}
/* .nav-wrapper{
    display: inline-block;
    vertical-align: middle;

} */

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a{
    margin: 0px 0px 0px 25px;
}

a.btn{
    margin-left: 0px;
    margin-right: 20px;
    padding: 8px 50px ;
    font-size: 16px;
    border-radius: 40px;
    
}

.btn-primary{
    background-color:#697a6e;
    border-color: #2a2e2b; 
}
.btn-primary:hover{
    background-color:#adbbae;
    border-color: #dfdedc; 
}

.btn-secondary{
    /* border-color: #dfdedc; */
    background-color: transparent;
}

.buttons-wrapper{
    padding: 40px 0px;
}

#About{
    padding-top: 60px;
}